<div class="footer">
        <div class="footer_up">
            <div class="center">
                <ul>
                    <li><img src="__PUBLIC__/images/index/foot_info_01.png" alt=""/>100%品质保障</li>
                    <li><img src="__PUBLIC__/images/index/foot_info_02.png" alt=""/>新品更新速度快</li>
                    <li><img src="__PUBLIC__/images/index/foot_info_03.png" alt=""/>青春潮流的聚集地</li>
                    <li><img src="__PUBLIC__/images/index/foot_info_04.png" alt=""/>专业在线客服</li>
                </ul>
            </div>
        </div>
        <div class="footer_down">
           <p style="color:gray;">Copyright @ 2013-2015 【咿呀折团队】 版权所有 all Rights Reserved 联系客服:18397410470</p>
       </div>
</div>

<input type="hidden" value="<?php echo session('user.username'); ?>" id="username" />

<!-- 浮动导航 -->
<script src="__PUBLIC__/js/index/jquery.smint.js"></script>
<script src="__PUBLIC__/js/index/lunbo.js"></script>
<script src="__PUBLIC__/js/index/praise.js"></script>
<script type="text/javascript">
$(document).ready( function() {
    $('.subMenu').smint({
    	'scrollSpeed' : 1000
    });
});

var login = <?php if($uid = is_login()){echo $uid;}else{echo 'false';}  ?>;

</script>
<script>
    $(function(){
        $(".return").click(function(){
            $('body,html').animate({scrollTop:0},200);

        });
    });
</script>
<!-- baidu 统计代码开始 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?87d53a4157d24fd8de035acfe32d9886";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>